@use "variables" as *;

.navbar {
  .navbar_container {
    border-bottom: 1px solid rgba(218, 218, 218, 0.8);
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logoButton {
      .logo {
      img {
        width: 200px;
      }

    }
    
    }
    .links {
      display: flex;
      gap: 10px;
      align-items: center;
      .myBlogs {
        text-decoration: none;
        color: inherit;
      }
      .link {
        text-decoration: none;
        color: inherit;

        h6 {
          font-size: 16px;
          font-weight: 300;
          padding: 0.5em;
          border-radius: 0.5em;
          transition: 0.2s ease-out;
          &:hover {
            background-color: $lightGreen;
            color: white;
          }
        }
      }
      span {
        cursor: pointer;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 0.2em;
      }
      .write {
        background-color: $lightGreen;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        border: 1px solid white;
        color: white;

        &:hover {
          color: $lightGreen;
          background-color: $white;
          border: 1px solid $lightGreen;
        }
      }
    }
    .button {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .navbar_container {
      .logoButton {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        .logo {
          padding-left: 10px;

          img {
            width: 150px;
          }
        }
      }
      flex-direction: column;
      .button {
        display: block;
        padding: 10px;
      }
      .block {
        display: block;
      }
      .hidden {
        display: none;
      }
      .links {
        .write_container {
          display: flex;
          align-items: center;
          justify-content: center;
          .write {
 
          }
        }

        .link {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 0;
        }
      }
    }
  }
}
