@use "variables" as *;

//Signin an Register
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $lightGreen;
  flex-direction: column;
  h1 {
    font-size: 36px;
    color: $white;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: $white;
    width: 270px;
    gap: 30px;
    border-radius: 0.8em;
    input {
      padding: 10px;
      border: none;
      border-bottom: 1px solid $grey;
    }
    label {
      border: 1px solid $lightGreen;
      padding: 0.5em;
      width: 50%;
      text-align: center;
      cursor: pointer;
      border-radius: 1em;
      margin: 0 auto;
      transition: 0.2s ease-in-out;
      &:hover {
        background-color: $lightGreen;
        color: $white;
      }
    }
    button {
      padding: 10px;
      border: none;
      background-color: $lightGreen;
      cursor: pointer;
      color: $white;
      border-radius: 0.7em;
    }
    p {
      font-size: 12px;
      color: $red;
      text-align: center;
    }
    span {
      font-size: 12px;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
}
